#thankyou {
    clear: both;   
    margin: -400 0 0 20; 
}


body {
    font-family: 'Noto Sans KR', sans-serif; font-weight: 400;
    /*background-color: greenyellow;*/
    background: repeating-linear-gradient(-45deg, #a6fd19, #a6fd19 5px, #222222 5px, #222222 10px);*/
    margin:0;
    
}
h2{
    
    font-weight:normal;
    text-align:center;
}
h3{
    font-weight:normal;
    margin:3px 0px;
    text-align:center;
}
#hide {
    display:none; visibility:hidden;
}
.timeCount {
    display:none; visibility:hidden;
}

.stepCount{
    display:none; visibility:hidden;
}

